<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>324596435191-thftp1lkpffpt8ulr31kt404nnofkv47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324596435191-thftp1lkpffpt8ulr31kt404nnofkv47</string>
	<key>API_KEY</key>
	<string>AIzaSyDd-5SryZOlPXuPFgm6T6dPprlMLAJw8iU</string>
	<key>GCM_SENDER_ID</key>
	<string>324596435191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>F75K5E25VA.com.Quatro.BestBy</string>
	<key>PROJECT_ID</key>
	<string>bestby-d9392</string>
	<key>STORAGE_BUCKET</key>
	<string>bestby-d9392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324596435191:ios:658fc4a0b5b5ecca</string>
	<key>DATABASE_URL</key>
	<string>https://bestby-d9392.firebaseio.com</string>
</dict>
</plist>